/* styles.scss */
$body-bg: #e6f7ff;
$body-color: #003f5c;
$link-color: #0077b6;

$primary: #0077b6;
$secondary: #00b4d8;
$info: #90e0ef;
$light: #caf0f8;
$dark: #03045e;

@import "bootstrap/scss/bootstrap";

.text-center{
    text-align: center;
}
 
b{
    color: $primary;
    // font-size:large;
}
